body {
background: #FFD700 url(c.jpg);
background-size: 100%;
font-family: 'Lobster', Georgia, Times, serif;
font-size: 15px;
line-height: 25px;
text-align: center;
}

.b-container button{
    background-color: black;
    border-color: black;
}

.b-container{
    width:100%;
    height:100%;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    
}
.b-popup{
    width:50%;
    min-height:50%;
    background-color: white;
    color:black;
    overflow:hidden;
    position:fixed;
    top:60px;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
}


.b-popup .b-popup-content{
    display: block;
    width:100px;
    height: 40px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

img{
	width: 1em;
	float: right;
	margin-top: 5px;;
	
}

#otpr{
	margin-bottom: 1em;
	float: right;
    background-color:black;
    border-color: black;
}

.form-control{
    border-style: hidden;
    width: 80%;
    margin:auto;
}

#oshib {
    text-align: center;
    font-size: 20px;
}


@media screen and (max-width: 800px) {
	.b-popup{
	    width:100vw;
	    height: 100vh;
	    margin-left: 0%;
		margin-right:0%;
        top:0px;
    }
  
}
